$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

$menu_bg: #32313E;
$menu_item_bg: #32313E;
$menu_item_hover_bg: #43414E;
$menu_sub_item_bg: #282832;
$menu_text: #98989F;
$menu_text_active: #FFF;
$menu_logo_bg: $menu_bg;
$menu_logo_tip_text: #32313e;

$nav_bg: $menu_bg;
$nav_text: $menu_text;
$nav_text_active: $menu_text_active
